%h1.mt-5.text-primary How to use
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ratione laudantium molestias animi odit assumenda commodi cumque qui, expedita iure perspiciatis aliquid ea sint suscipit odio voluptatum quis dolor, veritatis!
%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nihil ipsa, culpa molestiae quaerat omnis atque deleniti quod sequi vero doloribus voluptatem voluptatum ducimus quidem libero quasi at soluta repellat harum incidunt nesciunt nostrum dolores eum? Magni laborum quisquam eos deserunt mollitia culpa nihil, tempora iure cupiditate numquam atque delectus.
