%nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-lg.p-5.rounded
  %a.navbar-brand.text-primary{:href => '#'} Customer Enquiries
  %button.navbar-toggler{'aria-controls' => 'navbarNav', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarNav', 'data-toggle' => 'collapse', :type => 'button'}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link{:href => '/'}
          Home
          %span.sr-only (current)

        - if logged_in?
          %li.nav-item
            = link_to 'Log Out', logout_path, method: 'delete', class: 'nav-link'
          %li.nav-item
            = link_to "#{@current_user.name}", tickets_url, class: 'nav-link text-primary'
        - else
          %li.nav-item
            = link_to 'Log In', login_path, class: 'nav-link'
