Confirmation email
= 'You, ' + @ticket.client_name + ' created new ticket, subject: ' + @ticket.subject + '. Here is text of your request: '

= @ticket.content
Ticket you submitted recently need to be activated. For activation click on link below. Not activated tickets we ignore. If you don`t submit anything ignore this message.
Reference ticket code:
= @ticket.reference

= link_to 'Activate', edit_ticket_activation_url(@ticket.activation_token, client_email: @ticket.client_email)
