.ticket-head
  %h3= 'Hello, ' + @ticket.client_name

.ticket-body
  %small= @ticket.reference
  %p Ticket you submitted recently need to be activated. For activation click on link below. Not activated tickets we ignore. If you don`t submit anything ignore this message

  = link_to 'Activate', edit_ticket_activation_url(@ticket.activation_token, client_email: @ticket.client_email), class: 'button'
