<!DOCTYPE html>
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title= check_title(yield(:title))
  =csrf_meta_tags
  =csp_meta_tag

  =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  .container.mt-5.mb-5
    .row
      .col-12
        =render 'static_pages/navigation'
    =yield
