<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <style>
      .ticket-head, .ticket-body, .ticket-footer {
        padding: 16px;
        width: 500px;
      }

      .ticket-head p {
        font-size: 18px;
      }

      p {
        line-height: 1.6;
      }

      small {
        font-weight: bold;
        background-color: #40a540;
        padding: 5px;
        border-radius: 3px;
        color: #fff
      }

      .ticket-head, .ticket-footer {
        background-color: #f1f1f1;
      }

      .button {
        display: inline-block;
        background-color: #40a540;
        padding: 16px 32px;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
