<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <style>
      .ticket-head, .ticket-body {
        width: 320px;
        padding: 16px;
        text-align: center;
      }

      small {
        font-weight: bold;
        background-color: #40a540;
        padding: 5px;
        border-radius: 3px;
        color: #fff
      }

      .ticket-head {
        background-color: #f1f1f1;
      }

      .button {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        background-color: #40a540;
        padding: 16px 32px;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
